*{
    padding: 0;
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;  
    height: 75vh;
}

.grid{
    display: grid;
    grid-gap: 5px;/*es para acomodar los espacios*/
    grid-template-columns: repeat(3,1fr);/*acomo de columnas*/
    grid-template-rows: repeat(3,1fr);/*cuantas filas*/
}

.cuadro{
    background-color: green;
    display: flex;
    justify-content: center;
    line-height:3;
    font-size: 50PX;
    color: white;
    
}

.b1{
    display: flex;
    align-content: center;
    justify-content: center;
    color: aqua;
    background-color: black;
    font-size: 25px;
}